body {
  margin: 0;
  overflow: hidden;
  background-image: url(./images/background3.avif);
  background-size: contain;
}

#gameContainer {
  position: relative;
  border: double gray 6px;
  border-radius: 30px;;
  box-shadow: black 10px 10px 10px;
  width: 1024px;
  height: 768px;
  background: black;
  margin: 0 auto;
  overflow: hidden;
  background-size: cover;
}

.spaceShip, .fire {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
}

.pcSpaceShip {
  background-image: url('./images/Rocket.png');
}

.pcFire {
  background-image: url('./images/fire.png');
}

.playerSpaceShip {
  background-image: url('./images/Rocket2.png');
}

.playerFire {
  background-image: url('./images/playerfire.png');
}

.gameNavegation {
  display: flex;
  height: 10%;
}

.pcNavegation,
.playerNavegation {
  border: solid lightblue 2px;
  border-radius: 20px 20px 0px 0px;
  box-shadow: white 0px 1px 10px ;
  height: auto;
  width: 42%;
  color: rgb(0, 189, 0);
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  padding-top: 15px;
}
.logoNavegation {
  border: solid lightblue 2px;
  box-shadow: white 0px 1px 10px ;
  border-radius: 20px 20px 0px 0px;
  height: auto;
  width: 16%;
  color: rgb(0, 189, 0);

  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding-top: 15px;
}

.replayButton:hover {
  border: double green 5px;
  box-shadow: white 0px 0px 20px;
}